language: bash
sudo: required
before_script:
    - chmod +x install_mpich.sh
    - chmod +x compile.sh
    - chmod +x pushgithub.sh
    - ./install_mpich.sh
script:
    - cd build
    - sudo rm rgbdata-temp
    - sudo wget http://bit.ly/2qTxhjW
    - sudo mv 2qTxhjW rgbdata-temp
    - cd ..
    - ./compile.sh rgb_histogram 2


